.Checkbox
  display block

.Checkbox > input[type="checkbox"]
  display none

input[type="checkbox"]:checked ~ label > .Checkbox__Box > .Checkbox__Tick
  display block

input[type="checkbox"]:not(:checked) ~ label > .Checkbox__Box > .Checkbox__Tick
  display none
