doctype html
html
  head
    meta(charset="utf-8")
    title=htmlWebpackPlugin.options.title
    link(href="//fonts.googleapis.com/css?family=Open+Sans|Orbitron",rel="stylesheet")
  body
    #ApplicationContainer
